.form {
  padding-top: 36px;
  padding-left: 156px;
  display: flex;
  flex-direction: column;
}

form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

fieldset {
  display: flex;
  justify-content: space-evenly;
  padding-top: 18px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 24px;
  padding-right: 0;
  padding-left: 0;
}

fieldset > label {
  stroke-width: 1px;
  stroke: #808080;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}
